C course Udemy.md
C Code Style Guidelines.md
Fonts.md
random notes.md
Useful programs.md
Book list.md

nosync/
.obsidian/workspace.json
.obsidian/plugins/remember-cursor-position/cursor-positions.json
.obsidian/workspace.json
