

.markdown-source-view .HyperMD-header-1 span {
    color: #b2d0eb;
}

.markdown-source-view .HyperMD-header-2 span {
    color: #69a4d8;
}

.markdown-source-view .HyperMD-header-3 span {
    color: #327dc3;
}

.markdown-rendered h1 {
    color: #b2d0eb;
}

.markdown-rendered h2 {
    color: #69a4d8;
}

.markdown-rendered h3 {
    color: #327dc3;
}